/* This container provides the scrollable height */
.reveal-container {
    /* height: 50vh; */
    position: relative;
    height: 100%;
    /* background-color: #381E15;  */
  }
  
  /* This makes the text elements stick while scrolling */
  .sticky-wrapper {
    position: sticky;
    top: 0;
    /* height: 100vh; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* This is needed for the absolute positioning of the h1s */
    position: relative; 
  }
  
  /* Base styles for BOTH text elements to ensure perfect alignment */
  .text-outline,
  .text-solid {
    width: 100%;
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
    /* Position them on top of each other */
    position: absolute;
  }

  .text-outline-sub,
  .text-solid-sub {
    width: 100%;
    margin: 0;
    font-weight: 800;
    text-transform: none;
    text-transform: uppercase;
    position: absolute;
  }
  
  /* Style for the bottom layer (the outline) */
  .text-outline, .text-outline-sub {
    color: transparent; /* Makes the fill invisible */
    -webkit-text-stroke: 2px #755540;
    /* text-stroke: 2px #FDE047; */
    z-index: 1; /* Places it behind the solid text */
  }
  
  /* Style for the top layer (the solid text that gets revealed) */
  .text-solid, .text-solid-sub {
    color: #755540; /* Solid fill color */
    z-index: 2; /* Places it in front of the outline text */
  }